@model MyRecipes.Models.Recipe

@{
    ViewBag.Title = "Details";
}


<h1>@Model.Title</h1>

<img src="@Model.ImageUrl" alt="Alternate Text" style="width: 300px"/>

<h2>Description</h2>
<p>@Model.Description</p>

<h2>Directions</h2>
<p>@Model.Directions</p>

<h2>Ingredients</h2>
<p>@Model.Ingredients</p>
