@model MyRecipes.ViewModels.RecipeDetailsDataModel

@{
    ViewBag.Title = "Details";
}


@section Styles{
    <link href="~/css/details.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-9">
        <h1>@Model.RecipeDetails.Title</h1>

        <p>Views: @Model.RecipeDetails.Views</p>

        <img src="@Model.RecipeDetails.ImageUrl" alt="Alternate Text" style="width: 300px" />

        <h2>Description</h2>
        <p>@Model.RecipeDetails.Description</p>

        <h2>Directions</h2>
        <p>@Model.RecipeDetails.Directions</p>

        <h2>Ingredients</h2>
        <p>@Model.RecipeDetails.Ingredients</p>

        <h2> Date created: @Model.RecipeDetails.DateCreated</h2>

        <hr />
        <h3>Comments</h3>
        <hr />

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Comments" asp-action="Add" method="post" onsubmit="return validateForm()">
                <input type="text" name="recipeId" value="@Model.RecipeDetails.Id" hidden />
                <div class="form-group">
                    <textarea type="text" id="comment" name="comment" class="form-control" cols="20" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        }

        @foreach (var comment in Model.RecipeDetails.Comments.OrderByDescending(x => x.DateCreated))
        {
            <div class="comment">
                <p>@comment.Message</p>
                <p>User: @comment.Username</p>
                <p>Date created: @comment.DateCreated</p>
                @if (User.Identity.IsAuthenticated && User.FindFirst("Username").Value == comment.Username)
                {
                    <a href="/Comments/Delete/@comment.Id">Delete</a>
                }
            </div>
        }
    </div>
    <div class="col-md-3">
        <partial name="SidebarPartial" for="@Model.SidebarData">
    </div>
</div>

@section Scripts{
    <script src="~/js/validator.js"></script>
}
