@model List<MyRecipes.Models.Recipe>

@*@{ 
    var a = 2;
    var b = 3; 
    var sum = a + b;

}*@

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*<h1>Welcome to my recipes page</h1>
        <h2>The sum of @ViewData["varA"] and @ViewData["varB"] equals @ViewData["sum"]</h2>
        <h2>The current date is: @ViewBag.CurrentDate</h2>*@

    @foreach (var recipe in @Model)
    {
        <h1>The title of the recipes is: @recipe.Title</h1>
        <h2>Image</h2>
        <img src="@recipe.ImageUrl" alt="Alternate Text" />
        <h2>Description</h2>
        <p>@recipe.Description</p>
        <h2>Direction</h2>
        <p>@recipe.Directions</p>
    }

</body>
</html>