@model MyRecipes.ViewModels.RecipeOverviewDataModel

@{
    ViewBag.Title = "Overview";
}

@section Styles{
    <link href="~/css/sidebar.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-9">
        <form action="/Recipes/Overview" method="get" style="width:500px" class="form-inline m-4">
            <div class="form-group">
                <input type="text" name="Title" value="" class="form-control" placeholder="Search by title" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        <div class="row">
            @foreach (var recipe in Model.OverviewRecipes)
            {
                <div class="col-md-3">
                    <div class="card">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title - @recipe.RecipeType</h5>
                            <p class="card-text">Views: @recipe.Views</p>
                            <p class="card-text">Likes: @recipe.RecipeLikes.Count()</p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (recipe.RecipeLikes.Any(x => x.UserId == int.Parse(User.FindFirst("Id").Value)))
                                {
                                    <a asp-controller="RecipeLikes" asp-action="Remove" asp-route-recipeId="@recipe.Id">
                                        <i class="fas fa-thumbs-up"></i>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="RecipeLikes" asp-action="Add" asp-route-recipeId="@recipe.Id">
                                        <i class="far fa-thumbs-up"></i>
                                    </a>
                                }
                            }
                            <div class="card-text recipeDescription">@recipe.Description</div>
                            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">See more...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 p-1">
        <partial name="SidebarPartial" for="@Model.SidebarData">
    </div>
</div>

