@model MyRecipes.ViewModels.RecipeOverviewDataModel

@{
    ViewBag.Title = "Overview";
}

@section Styles{
    <link href="~/css/sidebar.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-9">
        <form action="/Recipes/Overview" method="get" style="width:500px" class="form-inline m-4">
            <div class="form-group">
                <input type="text" name="Title" value="" class="form-control" placeholder="Search by title" />
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        <div class="row">
            @foreach (var recipe in Model.OverviewRecipes)
            {
                <div class="col-md-3">
                    <div class="card">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title - @recipe.RecipeType</h5>
                            <p class="card-text">Views: @recipe.Views</p>
                            <p class="card-text">Likes: <span id="likesCounter_@recipe.Id">@recipe.RecipeLikes.Count()</span> </p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (recipe.RecipeLikes.Any(x => x.UserId == int.Parse(User.FindFirst("Id").Value)))
                                {
                                    <div onclick="removeLike(@recipe.Id, this)">
                                        <i class="fas fa-thumbs-up" style="color:blue"></i>
                                    </div>
                                }
                                else
                                {
                                    <div onclick="addLike(@recipe.Id, this)">
                                        <i class="far fa-thumbs-up" style="color:blue"></i>
                                    </div>
                                }
                            }
                            <div class="card-text recipeDescription">@recipe.Description</div>
                            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">See more...</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 p-1">
        <partial name="SidebarPartial" for="@Model.SidebarData">
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function removeLike(id, btn) {
            var url = "https://localhost:44350/RecipeLikes/Remove?recipeId=" + id;
            axios.get(url)
                .then(function (response) {
                    var counter = document.getElementById("likesCounter_" + id);
                    var currentCount = parseInt(counter.innerHTML) - 1;
                    counter.innerHTML = currentCount;

                    var icon = btn.getElementsByTagName('i')[0];
                    icon.classList.remove('fas');
                    icon.classList.add('far');

                    btn.onclick = function () { addLike(id, btn) };
                })
                .catch(function (error) {
                    console.log(error);
                })
        }

        function addLike(id, btn) {
            var url = "https://localhost:44350/RecipeLikes/Add?recipeId=" + id;
            axios.get(url)
                .then(function (response) {
                    var counter = document.getElementById("likesCounter_" + id);
                    var currentCount = parseInt(counter.innerHTML) + 1;
                    counter.innerHTML = currentCount;

                    var icon = btn.getElementsByTagName('i')[0];
                    icon.classList.remove('far');
                    icon.classList.add('fas');

                    btn.onclick = function () { removeLike(id, btn) };
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
    </script>
}
