@page

@model PizzaPlace.Pages.MenuModel

@{
    ViewData["Title"] = "Menu";
}

@section Styles{
    <link href="/css/menu.css" rel="stylesheet" />
}

<div class="row">
    @foreach (var item in Model.MenuItems)
    {
        <div class="col-md-6">
            <div class="card mb-3 border-0 menuItem">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class=" rounded-circle menuItemImage" src="@item.ImageUrl" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><small class="text-muted">@item.Price @item.Currency</small></p>
                            <a asp-page="Details" asp-route-id="@item.Id">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>